.navigation{
  font-family: ;
  color: whitesmoke;
}

ul{
  list-style: none;
  list-style-type: none;
  color: white;


}
a:hover { 
  background-color:goldenrod;
}



nav a {
  color:white;
  text-decoration: none;
  padding-bottom: 5px;
  
  }

.navigation{
  padding-top: 10px;

}

body {
  background-image: url("http://static1.squarespace.com/static/558b156ee4b050b2d0e1797b/t/559429c1e4b0b32d29a69c4a/1473363495897/?format=1500w");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.flex-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  align-items: center;
  justify-content: center;
  width: 700px;
  height: 720px;
  margin: 0 auto;
 
}

h3{
  color: goldenrod;
}



.boxed-1{
  color: whitesmoke;
  text-align: center;
  margin: 0 auto;
}


